.side-box
  .side-header
    .side-header__user
      .side-header__name 
        .chat-space_user-manege
          = current_user.name

      .side-header__iconlist
        = link_to new_group_path do
          = icon('far', 'edit', class: 'btn1')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'btn2')
  
  
  .side-header_group-list
    - current_user.groups.each do |group|
      .side-group
        = link_to "#" do
          .side-group__name 
            = group.name
          .side-group__message 
            メッセージはまだありません
      